extends layout

block content
  h1= title
  p Finance:
  a(href="/verticals/yahoofinance1/google", target="_blank") Yahoo Finance 1
  br
  a(href="/verticals/yahoofinance2/goog", target="_blank") Yahoo Finance 2
  br
  br
  p Weather:
  a(href="/verticals/yahooweather/london", target="_blank") Yahoo Weather
  br
  br
  p Music:
  a(href="/verticals/echonest/rihanna", target="_blank") Echonest
  br
  a(href="/verticals/eventful/rihanna", target="_blank") Eventful
  br
  br
  p Movies:
  a(href="/verticals/themoviedb/brad pitt", target="_blank") TheMovieDB
  br
  br
  p Google:
  a(href="/verticals/googlesearch/rihanna", target="_blank") Google Search
  br
  a(href="/verticals/googlenews/rihanna", target="_blank") Google News
  br
  a(href="/verticals/googletrends/", target="_blank") Google Trends
  br
  br
  p Wikipedia:
  a(href="/verticals/wikipedia/rihanna", target="_blank") Wikipedia
  br
  br
  p Videos:
  a(href="/verticals/youtube/rihanna", target="_blank") YouTube
  br
  br
  p Company:
  a(href="/verticals/crunchbasecompany/google", target="_blank") Crunch Base
  br
  br
  p Person:
  a(href="/verticals/crunchbaseperson/gigi-levy", target="_blank") Crunch Base
  br
  br
  p best buy:
  a(href="/verticals/bestbuyalsoviewed/macbook pro", target="_blank") Also Viewed
  br
  a(href="/verticals/bestbuymostviewed/macbook pro", target="_blank") Most Viewed
  br
  a(href="/verticals/bestbuyproduct/macbook pro", target="_blank") Product
  br
  a(href="/verticals/bestbuyproductaccessories/macbook pro", target="_blank") Product Accessories
  br
  a(href="/verticals/bestbuysimilar/macbook pro", target="_blank") Product Similar
  br
  a(href="/verticals/bestbuystores/macbook pro", target="_blank") Stores
  br
  a(href="/verticals/bestbuytrending/macbook pro", target="_blank") Trending
  br
  a(href="/verticals/bestbuyproductreviews/macbook pro", target="_blank") Product Reviews
  br

